*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	position: relative;
	background-color: #000000;
	font-family:$source-sans;
	width: 100%;
	height: 100%;
	overflow: hidden;
	list-style: none;
		img {
				position: absolute;
				top: 0;
				right: 0;
				opacity: .1;
				transition: .5s ease-in-out;
			}
			img:hover {
				opacity: .3;
			}
		.main {
			animation: example 5s;
			position: relative;
			text-align: left;
			margin-top: 400px;
			float: left;
			margin-left: 100px;
			h1 {
				font-family: $source-sans;
				font-weight: 100;
				font-size: 40px;
				color: #e2e0e0;
				span {
					text-transform: uppercase;
				}
			}
			p {
				font-size: 24px;
				color: #9b9797;
				padding-bottom: 20px;
				position: relative;
			}
			.blog {
				display: flex;
				svg,g,path {
					transition: .5s ease-in-out;
					height: 50px;
				}
				a {
					&:hover {
						.microphone {
							border: 1px solid #000000;
							width: 70px;
							height: 60px;
							background-color: #000000;
						}
						.medium {
							border: 1px solid #000000;
							width: 80px;
							height: 60px;
							background-color: #000000;
						}
					}
				}
			}
		}
		footer {
			animation: example 5s;
			position: fixed;
			bottom: 70px;
			width: 100%;
			.social {
				align-items: flex-end;
				display: flex;
				justify-content: center;
				display: flex;
				#linkedin, #envelope, #twitter, #github{
					opacity: .6;
				}
				#instagram-gradient,
				#github-gradient,
				#youtube-gradient {
					opacity: 0.0;
					display: inline-block;
					-webkit-transition: opacity .5s ease;
					-moz-transition: opacity .5s ease;
					-o-transition: opacity .5s ease;
					transition: opacity .5s ease;
				  }
				svg,g,path {
					transition: .5s ease-in-out;
				}
					a {
						text-decoration: none;
						padding: 20px;				  
						&:hover {
							#instagram-gradient,
							#github-gradient,
							#youtube-gradient {
								opacity: 1.0;
							  }
							 #envelope {
								fill: rgb(175, 100, 29);
								opacity: 1.0;
							}
							#twitter {
								fill: #1da1f2;
								opacity: 1.0;
							}
							#linkedin {
								fill: #0077B5;
								opacity: 1.0;
							}
						}
					}
				}
			}
	}
	//media query
	@media (max-width: 900px) 
	{
		body {
			width:100%; height: 100%; min-width:100px; padding:0;
		footer { ul {transform: scale(.8);}}
		}
	}
	@media (max-width: 720px) 
	{
		body {
			width:100%; height: 100%; min-width:100px; padding:0;
			.main {
				margin-left: 40px; h1 {font-size: 34px;} p {font-size: 20px;} 
			.blog { svg,g,path { height: 45px;} } 
			}
		} 
		footer { ul {transform: scale(.6);}}
	}
	@media (max-width: 500px)
	{
		body {
			width:100%; height: 100%; min-width:100px; padding:0;
			.main { h1 {font-size: 30px;} p {font-size: 18px;} 
			.blog { svg,g,path {width: 45px; height: 35px;}} 
			}
			footer { ul {transform: scale(.6);}}
		}
		
	}
	@keyframes example {
		from {background-color: fill="rgb(177, 171, 171)"; opacity: 0;}
		to {background-color: fill="rgb(177, 171, 171)"}
	  }


