@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
body {
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	outline: 0;
}

ul, ol {
	list-style: none;
}
