@import url(//db.onlinewebfonts.com/c/9ecec61376083fd290b75d94fdaca380?family=Baskerville+Old+Face);
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body {
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	outline: 0;
}

ul, ol {
	list-style: none;
}
