@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, button, textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  outline: 0;
}

ul, ol {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  background-color: #000000;
  font-family: "Abel";
  width: 100%;
  height: 100%;
  overflow: hidden;
  list-style: none;
}

body img {
  position: absolute;
  top: 0;
  right: 0;
  opacity: .1;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

body img:hover {
  opacity: .3;
}

body .main {
  -webkit-animation: example 5s;
          animation: example 5s;
  position: relative;
  text-align: left;
  margin-top: 400px;
  float: left;
  margin-left: 100px;
}

body .main h1 {
  font-family: "Abel";
  font-weight: 100;
  font-size: 40px;
  color: #e2e0e0;
}

body .main h1 span {
  text-transform: uppercase;
}

body .main p {
  font-size: 24px;
  color: #9b9797;
  padding-bottom: 20px;
  position: relative;
}

body .main .blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main .blog svg, body .main .blog g, body .main .blog path {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  height: 50px;
}

body .main .blog a:hover .microphone {
  border: 1px solid #000000;
  width: 70px;
  height: 60px;
  background-color: #000000;
}

body .main .blog a:hover .medium {
  border: 1px solid #000000;
  width: 80px;
  height: 60px;
  background-color: #000000;
}

body footer {
  -webkit-animation: example 5s;
          animation: example 5s;
  position: fixed;
  bottom: 70px;
  width: 100%;
}

body footer .social {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
}

body footer .social #linkedin, body footer .social #envelope, body footer .social #twitter, body footer .social #github {
  opacity: .6;
}

body footer .social #instagram-gradient,
body footer .social #github-gradient,
body footer .social #youtube-gradient {
  opacity: 0.0;
  display: inline-block;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

body footer .social svg, body footer .social g, body footer .social path {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

body footer .social a {
  text-decoration: none;
  padding: 20px;
}

body footer .social a:hover #instagram-gradient,
body footer .social a:hover #github-gradient,
body footer .social a:hover #youtube-gradient {
  opacity: 1.0;
}

body footer .social a:hover #envelope {
  fill: #af641d;
  opacity: 1.0;
}

body footer .social a:hover #twitter {
  fill: #1da1f2;
  opacity: 1.0;
}

body footer .social a:hover #linkedin {
  fill: #0077B5;
  opacity: 1.0;
}

@media (max-width: 900px) {
  body {
    width: 100%;
    height: 100%;
    min-width: 100px;
    padding: 0;
  }
  body footer ul {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 720px) {
  body {
    width: 100%;
    height: 100%;
    min-width: 100px;
    padding: 0;
  }
  body .main {
    margin-left: 40px;
  }
  body .main h1 {
    font-size: 34px;
  }
  body .main p {
    font-size: 20px;
  }
  body .main .blog svg, body .main .blog g, body .main .blog path {
    height: 45px;
  }
  footer ul {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 500px) {
  body {
    width: 100%;
    height: 100%;
    min-width: 100px;
    padding: 0;
  }
  body .main h1 {
    font-size: 30px;
  }
  body .main p {
    font-size: 18px;
  }
  body .main .blog svg, body .main .blog g, body .main .blog path {
    width: 45px;
    height: 35px;
  }
  body footer ul {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@-webkit-keyframes example {
  from {
    background-color: fill= "rgb(177, 171, 171)";
    opacity: 0;
  }
  to {
    background-color: fill= "rgb(177, 171, 171)";
  }
}

@keyframes example {
  from {
    background-color: fill= "rgb(177, 171, 171)";
    opacity: 0;
  }
  to {
    background-color: fill= "rgb(177, 171, 171)";
  }
}
/*# sourceMappingURL=main.css.map */