@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, button, textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  outline: 0;
}

ul, ol {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

html body {
  position: relative;
  background-color: #000000;
  font-family: "Abel", "Ubuntu";
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  list-style: none;
}

html body::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: url(../img/background.jpg) center center no-repeat;
  background-size: cover;
}

html body .main {
  -webkit-animation: onload 5s;
          animation: onload 5s;
  position: absolute;
  top: 50%;
  left: 100px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  width: 100%;
}

html body .main h1 {
  font-family: "Abel";
  font-weight: 100;
  font-size: 40px;
  color: #e2e0e0;
}

html body .main h1 span {
  text-transform: uppercase;
}

html body .main p {
  padding-bottom: 20px;
  font-family: "Ubuntu";
  font-size: 24px;
  color: #9b9797;
  position: relative;
}

html body .main .blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .main .blog svg, html body .main .blog g, html body .main .blog path {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  height: 50px;
}

html body .main .blog a:hover .microphone, html body .main .blog a:hover .medium {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

html body .main .blog a:hover #microphone, html body .main .blog a:hover #medium {
  fill: #e2e0e0;
}

html body footer {
  -webkit-animation: onload 5s;
          animation: onload 5s;
  position: fixed;
  bottom: 70px;
  width: 100%;
}

html body footer .social {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
}

html body footer .social #linkedin, html body footer .social #mail, html body footer .social #twitter, html body footer .social #github {
  opacity: 0.6;
}

html body footer .social #instagram-gradient,
html body footer .social #github-gradient,
html body footer .social #youtube-gradient {
  opacity: 0.0;
  display: inline-block;
  -webkit-transition: opacity .55s ease;
  transition: opacity .55s ease;
}

html body footer .social svg, html body footer .social g, html body footer .social path {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

html body footer .social a {
  text-decoration: none;
  padding: 20px;
}

html body footer .social a:hover #instagram-gradient,
html body footer .social a:hover #github-gradient,
html body footer .social a:hover #youtube-gradient {
  opacity: 1.0;
}

html body footer .social a:hover #mail {
  fill: #814711;
  opacity: 1.0;
}

html body footer .social a:hover #twitter {
  fill: #1da1f2;
  opacity: 1.0;
}

html body footer .social a:hover #linkedin {
  fill: #055885;
  opacity: 1.0;
}

@media (max-width: 1400px) {
  html body::before {
    background-position: left 89% center;
  }
}

@media (max-width: 900px) {
  body {
    width: 100%;
    height: 100%;
    min-width: 100px;
    padding: 0;
  }
  body footer ul {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 767px) {
  html {
    width: 100%;
    height: 100%;
  }
  html body {
    width: 100%;
    height: 100%;
    min-width: 100px;
    min-height: 100%;
    padding: 0;
  }
  html .main {
    left: 50px;
  }
  html .main h1 {
    font-size: 34px;
  }
  html .main p {
    font-size: 20px;
  }
  html .main .blog svg, html .main .blog g, html .main .blog path {
    height: 45px;
  }
  footer ul {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 500px) {
  html {
    width: 100%;
    height: 100%;
  }
  html body {
    width: 100%;
    height: 100%;
    min-width: 100px;
    min-height: 100%;
    padding: 0;
    background-color: #000000;
  }
  html body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 1px;
    top: 0px;
    opacity: 0.3;
    background: url(../img/mobil-bg.jpg) center center no-repeat;
    -ms-background-size: cover;
    background-size: cover;
  }
  html body .main {
    left: 50px;
  }
  html body .main h1 {
    font-size: 30px;
  }
  html body .main p {
    font-size: 16px;
  }
  html body .main .blog svg, html body .main .blog g, html body .main .blog path {
    width: 45px;
    height: 35px;
  }
  html body footer ul {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@-webkit-keyframes onload {
  from {
    background-color: fill= "rgb(177, 171, 171)";
    opacity: 0;
  }
  to {
    background-color: fill= "rgb(177, 171, 171)";
  }
}

@keyframes onload {
  from {
    background-color: fill= "rgb(177, 171, 171)";
    opacity: 0;
  }
  to {
    background-color: fill= "rgb(177, 171, 171)";
  }
}
/*# sourceMappingURL=main.css.map */